@import "tailwindcss";

/* 1. Define Local Fonts */
@font-face {
  font-family: 'Manrope';
  /* Path matches your /public/font/ folder structure */
  src: url('/font/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* 2. Set the variable */
  --font-manrope: 'Manrope', system-ui, sans-serif;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #02091A; /* Your specific hex code */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
section {
  background-color: transparent;
}
